:root {
	--navbar-clr: #23001e;
	--navbar-title: #ffffff;
	--nav-btns-bg: brown;
	--nav-btns-clr: #ffffff;
	--font-stack-: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	--about-bg-clr: #4f3130;
	--about-heading: #3a5743;
	--about-font-clr: white;
	--about-para-clr: #e6ccbe;
	--item-description-bg: #aa5042;
	--item-price-bg: #d8bd8a;
	--item-name-font-clr: #4f3130;
	--item-descriptions-font-clr: #d8d78f;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
	margin: 0;
	padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	position: relative;
	font-family: var(--font-stack-);
	background-image: url("../assets/images/main-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	/* 4. Increase line-height */
	line-height: 1.2;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;

	/* 5. Improve text rendering */

	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}
button {
	cursor: pointer;
}
header {
	z-index: 100;
	position: fixed;
	width: 100%;
	top: 0;

	background-color: var(--navbar-clr);
	/* border: 2px solid red; */
	display: flex;
	padding: 30px;
	align-items: center;
	justify-content: space-around;
	color: var(--navbar-title);
}

.logo {
	font-family: "tangerine", var(--font-stack-);
	flex: 1;
	padding: 0px 15px;
}
.logo h1 {
	font-size: 3rem;
}
header nav {
	padding: 0px 15px;

	display: flex;
	gap: 2rem;
}
nav button {
	padding: 18px 26px;
	border-radius: 8px;
	background-color: var(--nav-btns-bg);
	color: var(--nav-btns-clr);
	border: none;
	transition: transform 0.5s ease;
}

nav button:active {
	transform: scale(0.8);
}

#content {
	flex: 1;

	display: flex;

	justify-content: center;
	align-items: center;
}
.home {
	/* border: 2px solid red; */
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.253);
	padding: 1rem 2rem;
	backdrop-filter: blur(5px);
}
.home p {
	width: 40ch;
	font-size: 2.5rem;
	color: white;
}
.reservation {
	align-self: flex-start;
}
.reservation button {
	background-color: var(--nav-btns-bg);
	color: white;
	border: none;
	border-radius: 12px;

	padding: 20px 120px;
}

.card {
	font-size: 1.3rem;
	min-height: 350px;

	background-color: rgba(0, 0, 0, 0.267);

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 12px;
	box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.39);
	cursor: pointer;
	transition: all 0.3s ease;
}

.card .item-name {
	padding: 10px 12px;
	background-color: var(--item-name-font-clr);

	color: white;
	font-weight: bold;
}
.card .item-description {
	padding: 10px;
	background-color: var(--item-description-bg);

	color: var(--item-descriptions-font-clr);
}
.card .item-price {
	padding: 8px;
	background-color: var(--item-price-bg);
	color: #4f3130;
	font-weight: bold;
}

.card-container {
	margin-top: 8rem;
	padding: 40px 20px;
	width: 60%;
	height: auto;

	gap: 15px;
	display: grid;
	grid-template-columns: repeat(2, minmax(250px, 1fr));
}

.card img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.item-name,
.item-price,
.item-description {
	border-radius: 12px;
	transition: all 0.3s ease;
}
.item-name:hover,
.item-price:hover,
.item-description:hover {
	transform: scale(1.1);
}

.about-container {
	background-color: var(--about-bg-clr);
	border-radius: 8px;
	box-shadow: 0px 10px 5px hsla(2, 24%, 25%, 0.322);
}
.about-container > * {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 10px;
	align-items: center;
}

.child h2 {
	padding: 8px 12px;
	font-size: 1.5rem;
	background-color: var(--about-heading);
	color: var(--about-font-clr);
}

.child p {
	font-size: 1.3rem;

	color: var(--about-para-clr);
}

.card .item-name,
.child h2,
button {
	font-family: "Stack Sans Notch";
}

.card .item-description,
.child p,
.card .item-price,
.home p {
	font-family: "Aldrich";
}
